<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/contentEditable.js"></script>
  </head>
  <body>
    <div ng-app="ContentApp">
      <div contentEditable="true" ng-model="content" title="Click to edit">Some</div>
      <pre>Model: {{content}}</pre>
    </div>
  </body>
</html>