<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/directivesCommunicate.js"></script>
  </head>
  <body>
    <div ng-app="DirectiveCommApp">
      <my-tabs>
        <my-pane title="Hello">
          <p>mmm say</p>
        </my-pane>
        <my-pane title="World">
          <p>The new {{title}}</p>
        </my-pane>
      </my-tabs>
    </div>
  </body>
</html>