<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/formValidation.js"></script>
  </head>
  <body>
    <div ng-app="formValidation">
      <form name="form" class="css-form" novalidate>
      <div>
        <input type="number" ng-model="size" name="size" min="0" max="10" integer />
        {{size}}
        <span ng-show="form.size.$error.integer">The value is not a valid integer!</span>
        <span ng-show="form.size.$error.min || form.size.$error.max">The value must be in range 0 to 10!</span>
      </div>

      <div>
        <input type="text" ng-model="name" name="name" username /> {{username}}
        <br />
        <span ng-show="form.name.$pending.username">Checking if this name is available...</span>
        <span ng-show="form.name.$error.username">This username is already taken!</span>
      </div>

      </form>
    </div>
  </body>
</html>