<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/scopeInheritance.js"></script>
    
  </head>
  <body>
    <div ng-app="ScopeInheritance" ng-controller="MainController">
      <p>Good {{timeOfDay}}, {{name}}</p>

      <div ng-controller="ChildController">
        <p>Good {{timeOfDay}}, {{name}}</p>
      </div>

      <div ng-controller="GrandChildController">
        <p>Good {{timeOfDay}}, {{name}}</p>
      </div>

    </div>
  </body>
</html>