<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/myServiceApp.js"></script>
    <script src="static/javascripts/notifyService.js"></script>
    <script src="static/javascripts/myServiceController.js"></script>
  </head>
  <body>
    <div ng-app="MyServiceModule">
      <div id="simple" ng-controller="MyController2">
        <p>Let's try this simple notify service, injected into the controller...</p>
        <input ng-init="message='test'" ng-model="message" >
        <button ng-click="callNotify(message);">NOTIFY</button>
        <p>(you have to click 3 times to see an alert)</p>
      </div>
    </div>
  </body>
</html>