<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/app.js"></script>
    <script src="static/javascripts/spicyController.js"></script>
  </head>
  <body>
    <div ng-app="MyApp">
      <div ng-controller="SpicyController">
        <input type="text" ng-model="customSpice" />
        <button ng-click="spicy('chili');">Chili</button>
        <button ng-click="spicy(customSpice);">Custom Spice</button>
        <p>The food is {{spice}} spicy!</p>
      </div>
    </div>
  </body>
</html>