<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/scopeExample.js"></script>
  </head>
  <body>
    <div ng-app="scopeExample">
      <div ng-controller="MyController">
        <input type="text" ng-model="userName" />
        <button ng-click="sayHello();">greet</button>
        {{greeting}}
      </div>
    </div>
  </body>
</html>