<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/scopeExampleHierarchies.js"></script>
  </head>
  <body>
    <div ng-app="scopeExampleHierarchies">
      <div ng-controller="GreetController">
        Hello {{name}}
      </div>
      <div ng-controller="ListController">
        <ol>
          <li ng-repeat="name in names">
            {{name}} from {{department}}
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>