<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/scopeEventPropagation.js"></script>
  </head>
  <body>
    <div ng-app="scopeEventPropagation">
      <div ng-controller="EventController">
        Root Scope <tt>MyEvent</tt> count: {{count}}
        <ul>
          <li ng-repeat="i in [1]" ng-controller="EventController">
            <button ng-click="$emit('MyEvent')">$emit("MyEvent")</button>
            <button ng-click="$broadcast('MyEvent')">$broadcast("MyEvent")</button>
            <br />
            Middle scope <tt>My Event</tt> count: {{count}}
            <ul>
              <li ng-repeat="item in [1,2]" ng-controller="EventController">
                Leaf scope <tt>MyEvent</tt> count: {{count}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>