<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/simpleDirectiveIsolateScope.js"></script>
  </head>
  <body>
    <div ng-app="SimpleDirectiveIsoApp">
      <div ng-controller="SimpleDirectiveIsoController">

        <ul ng-repeat="client in names">
          <my-customer info="client"></my-customer>
        </ul>

        <my-customer info="naomi"></my-customer>
        <my-customer info="igor"></my-customer>
      </div>
    </div>
  </body>
</html>