<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/timeDirective.js"></script>
  </head>
  <body>
    <div ng-app="docsTimeDirective">
      <div ng-controller="Controller">
        Date format: <input ng-model="format"> <hr/>
        Current time is: <span my-current-time="format"></span>
      </div>
    </div>
  </body>
</html>