<html>
  <head>
    <script src="libs/angular/angular.js"></script>
    <script src="static/javascripts/transcludeOption.js"></script>
  </head>
  <body>
    <div ng-app="transcludeApp">
      <div ng-controller="TranscludeController">
        {{message}}
        <my-dialog ng-hide="dialogIsHidden" on-close="hideDialog(message);">
          Check out the contents, {{name}}!
        </my-dialog>
      </div>
    </div>
  </body>
</html>